/*CSS Floats*/

#floats{
	background: #d41;

}

#floats #container{
	background: white;
	padding: 20px;
}

#nia1{
	float: right;
	width: 200px;
	margin: 0 0 10px 20px;
}

#box1{
	width: 200px;
	height: 200px;
	background: red;
	float: right;
}


#maincolumn{
	width: 	350px;
	float: left;
}

#sidebar{
	width: 220px;
	float: right;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both
}

#footer{
	clear: both;
	background: #333;
	color:white;
	padding: 20px;
}