/*styling web form*/

#container{
	width: 600px;
	margin: 0 auto;
}

fieldset{
	padding: 40px;
	border: solid 1px #aaa;
	background: url('images/1.jpg');
}

fieldset legend{
	background: white;
	padding: 10px;
	border: solid 1px #aaa;

}

form{
	margin-top: 40px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea{
	padding: 10px;
	margin: 0 0 20px;
	border: solid 1px #454545;
	display: block;
	width: 46%;
	font-size: 14px;
	color:#777;
	font-family: Monaco, monospace;
	text-transform: uppercase;
}

label{
	font-size: 12px;
	text-transform: uppercase;
	background:url('images/cyan.jpg');
	display: block;
	width: 46%;
	padding: 2%;
	color:white;

}