/*style.css*/

#box{
	background: red;
	height: 200px;
	width: 	200px;
	margin: 40px auto;
	padding: 50px;
	box-sizing: border-box;
	border-radius: 50px;
	/*border-top-right-radius: 100px;*/
	color:white;


}



/*style color & gradient*/
body #colors{
	background: rgba(25,52,84,1);
	color:white;
}


#colors #container{
	width: 600px;
	margin:0 auto;
	padding: 40px;
	box-sizing: border-box;
	background:rgba(255,255,255,0.1);
}


#colors #box{
	background: linear-gradient(to right,yellow,green); 
} 
/*Note: for color gradient , to style gredient 
1. to bottom top /right/left
2. deg  ex: 40deg,
3. radial-gradient


*/




/*Animations & Transition style*/
@keyframes box {
	from {border-radius: 50px; background-color: red; top: 0; left: 0; }
	to {border-radius: 100px; background-color: black; top: 100px; left: 100px;}
}


#animation #box{
	position: relative;
	animation-name: box;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: 3;
	animation-direction: alternate;

/*shorthand
animation: box 10s linear 2s 3 alternate*/

}

#box2 {
	position: relative;
	background: blue;
	width: 200px;
	height: 200px;
	color:white;
}


#box2:hover{
	background:red;
	width: 300px;
	height: 300px;
	transition: width 8s, height 2s, background 20s;
	/*transition-timing-function: ease-in;*/
}


/*Button animation style*/
@keyframes buttonAnimation{
	from{padding: 10px 20px; font-size: inherit;}
	to{padding: 15px 30px; font-size: 24px;}
}

.button{
	display: inline-block;
	background:#fc3;
	background:linear-gradient(#fc3,#f91);
	border: solid 1px #999;
	border-radius: 9px;
	color:white;
	padding: 10px 20px;
	margin:10px;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.button:hover{
	border-color: #888;
	text-shadow: 0 1px 2px rgba(0,0,0,0.9);
	background: #f91;
	background:linear-gradient(to top,#fc3,#f91);
	animation-name: buttonAnimation;
	animation-duration: .5s;
	animation-fill-mode: forwards;

}

.button:active{
	position: relative;
	top: 1px;
}

.alt-button{
	background:radial-gradient(#fc3,#f91);
}

.alt-button:hover{
	background:radial-gradient(#f91,#fc3);
}
















